@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}
<link rel="stylesheet" href="~/css/movies.css" asp-append-version="true" />
@*<div>
    @foreach (var item in Model)
{
    <div>
        <div id="head"></div>
        <div id="picture"></div>
        <div id="4eaContent"></div>
        <div id="footer"></div>
    </div>
    }
</div>
style="gap: 1rem; display: flex; flex-direction: row; flex-wrap: wrap; flex-grow: 2;"*@

<div class="container mt-5">
    <div style="gap: 1rem; display: flex; flex-direction: row; flex-wrap: wrap;">
        @foreach (var item in Model)
        {
            <div>
                <div class="card myCard">
                    <div class="image-container">
                            <div class="first">
                                <div class="d-flex justify-content-between align-items-center" >
                                    <p>
                                        @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                        {
                                            <span class="badge bg-success text-white isAvailable">AVAILABLE</span>
                                        }
                                        else if (DateTime.Now > item.EndDate)
                                        {
                                            <span class="badge bg-danger text-white isAvailable">EXPIRED</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-primary text-white isAvailable">UPCOMING</span>
                                        }
                                        </p>
                                    
                                    <!-- <span class="discount">-25%</span> -->
                                    <!--<span class="wishlist"><i class="fa fa-heart-o"></i></span>-->
                                </div>
                        </div>
                            <img src="@item.ImageURL" class="img-fluid rounded thumbnail-image" style="height: 300px; width: 190px;"/>
                        </div>
                    <div class="product-detail-container p-2" id="mukodj">
                        <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="dress-name">@item.Name </h4>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="text-black float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                            }
                            <div class="d-flex flex-column mb-2">
                                <span class="new-price">@item.Price.ToString("c")</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center pt-1">
                            <div class="color-select d-flex "style="flex-direction: column">
                                <span class="card-text myDates"><b>Available: </b>@item.StartDate.ToString("dd MMM") - @item.EndDate.ToString("dd MMM yyyy")</span>
                                <span class="card-text myDates"><b>Category: </b>@item.MovieCategory</span>
                                <span class="card-text myDates" ><b>Cinema: </b>@item.Cinema.Name</span>
                                <span class="card-text myDates" ><b>Language: </b>@item.Language</span>
                                <span class="card-text myDates" ><b>Runtime: </b>@item.RunTime</span>
                                
                            </div>
                            <div class="d-flex ">
                                
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1" >
                        <a id="my-left-button" class="btn btn-success text-white buy @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                           asp-controller="Orders"
                           asp-action="AddItemToShoppingCart"
                           asp-route-id="@item.Id">
                            <i class="bi bi-cart-plus" style=""></i>
                        </a>
                        
                            <a id="my-right-button" class="btn btn-info" asp-action="Details" asp-route-id="@item.Id" style="font-size: 10px;"><i class="bi bi-eye-fill"></i> Show Details </a>
                    </div>
                </div>
            </div>
        }
        
    </div>
    
</div>
@await Html.PartialAsync("_CreateItem", "Movies")

<script src="~/js/movies.js" asp-append-version="true"></script>

